In [2]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [3]:
# Store csv created in part one into a DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,busselton,-33.65,115.33,61.00,95,14,21.74,AU,1594860348
1,1,ca mau,9.18,105.15,82.49,81,74,3.31,VN,1594860759
2,2,barauna,-5.08,-37.62,72.88,74,24,10.11,BR,1594860819
3,3,carnarvon,-24.87,113.63,69.80,56,90,9.17,AU,1594860367
4,4,new norfolk,-42.78,147.06,46.99,87,97,0.69,AU,1594860372

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# Map of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Narrow down cities based on criteria and drop results with null values
narrowed_city_df = city_data_df.loc[(city_data_df["Max Temp"] < 90) & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 5) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()
narrowed_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
96,96,lata,40.16,-8.33,73.99,73,0,3.62,PT,1594860405
133,133,qitaihe,45.80,130.85,80.69,67,0,2.17,CN,1594860836
148,148,corinto,37.94,22.96,73.00,57,0,3.00,GR,1594860838
150,150,humaita,-7.51,-63.02,76.10,60,0,1.48,BR,1594860397
159,159,hede,33.77,120.25,76.59,68,0,2.48,CN,1594860379
196,196,birjand,32.87,59.22,75.20,36,0,4.70,IR,1594860650
201,201,cefalu,38.04,14.02,71.01,85,0,1.99,IT,1594860845
224,224,pontes e lacerda,-15.23,-59.34,75.47,52,0,2.26,BR,1594860849
278,278,bend,44.06,-121.32,86.00,19,0,1.99,US,1594860793
296,296,mancio lima,-7.61,-72.90,73.44,89,0,0.36,BR,1594860859
313,313,gurupi,-11.73,-49.07,74.62,37,0,4.36,BR,1594860862
354,354,jardim,-21.48,-56.14,70.93,70,0,3.09,BR,1594860868
358,358,qinnan,33.25,119.91,74.53,72,0,4.23,CN,1594860868
386,386,seydi,39.48,62.91,79.93,20,0,4.76,TM,1594860873
397,397,altay,47.87,88.12,71.82,38,0,4.61,CN,1594860875
457,457,bodri,23.17,81.43,78.10,79,0,3.83,IN,1594860884
534,534,maraa,-1.83,-65.37,75.42,82,0,1.39,BR,1594860895
543,543,kushmurun,52.45,64.63,71.02,69,0,4.94,KZ,1594860896
555,555,alta floresta,-9.88,-56.09,71.76,41,0,2.64,BR,1594860898

In [8]:
# Create DF called hotel_df to store hotel names with city, country and coordinates
hotel_df = narrowed_city_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                 City Country    Lat     Lng Hotel Name
96               lata      PT  40.16   -8.33
133           qitaihe      CN  45.80  130.85
148           corinto      GR  37.94   22.96
150           humaita      BR  -7.51  -63.02
159              hede      CN  33.77  120.25
196           birjand      IR  32.87   59.22
201            cefalu      IT  38.04   14.02
224  pontes e lacerda      BR -15.23  -59.34
278              bend      US  44.06 -121.32
296       mancio lima      BR  -7.61  -72.90
313            gurupi      BR -11.73  -49.07
354            jardim      BR -21.48  -56.14
358            qinnan      CN  33.25  119.91
386             seydi      TM  39.48   62.91
397             altay      CN  47.87   88.12
457             bodri      IN  23.17   81.43
534             maraa      BR  -1.83  -65.37
543         kushmurun      KZ  52.45   64.63
555     alta floresta      BR  -9.88  -56.09

In [9]:
# Set parameters to search for hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.

,City,Country,Lat,Lng,Hotel Name
96,lata,PT,40.16,-8.33,Casa Maquia
133,qitaihe,CN,45.80,130.85,Baiyun Hostel
148,corinto,GR,37.94,22.96,Ephira Hotel
150,humaita,BR,-7.51,-63.02,Corrêa Hotel
159,hede,CN,33.77,120.25,Vienna 3 Best Hotel Sheyang Jiefang Rd
196,birjand,IR,32.87,59.22,Birjand Tourist Hotel
201,cefalu,IT,38.04,14.02,Hotel La Giara
224,pontes e lacerda,BR,-15.23,-59.34,Hotel Bressan
278,bend,US,44.06,-121.32,Fairfield Inn & Suites by Marriott Bend Downtown
296,mancio lima,BR,-7.61,-72.90,Hotel e Distribuidora Voyage
313,gurupi,BR,-11.73,-49.07,Via Norte Hotel
354,jardim,BR,-21.48,-56.14,Hotel Estância
358,qinnan,CN,33.25,119.91,Lixin Hotel
386,seydi,TM,39.48,62.91,
397,altay,CN,47.87,88.12,Jinqiao Hotel
457,bodri,IN,23.17,81.43,Lankatola
534,maraa,BR,-1.83,-65.37,
543,kushmurun,KZ,52.45,64.63,Gostinitsa Pri Depo
555,alta floresta,BR,-9.88,-56.09,Floresta Amazonica Hotel

In [10]:
# Use the template add the hotel marks to the map
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the Df Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))